<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="boostrap/css/bootstrap.min.css" >

        <script src="boostrap/js/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="customersCtrl" >
            <br/>
            <div class="fade in collapse show" id="col2">

                <div class="container">	
                    <h1>Edd-URBAN</h1>			  
                    <div class="row">
                        <div class="col-3">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link "  href="index.html" role="tab" aria-controls="v-pills-home" aria-selected="true">Estaciones</a>
                                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Rutas</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                </div>
                                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                                    <div class="">
                                        <h2>Rutas</h2>
                                        <div class="row">
                                            <div class="col-sm-6" ng-repeat="x in myData">
                                                <div class="card border-success mb-3">
                                                    <div class="card-header" style="background: {{x.color}}">Codigo: {{x.codigo}}</div>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Nombre: {{ x.nombre}}</h5>
                                                        <ul>                                  
                                                            <li>Color : {{x.color}}</li>
                                                        </ul>


                                                        <a href="#" ng-click='myFunc2(x)' class="btn btn-primary edEst">Configurar</a>
                                                        <a href="#" ng-click='myFunc(x)' class="btn btn-primary edEst">Editar</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    <br>
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            +
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Codigo</label>
                                                <input type="text" class="form-control" id="eCod" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Color</label>
                                                <input type="text" step="any" class="form-control" id="eCol" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Nombre</label>
                                                <input type="text"  class="form-control" id="eNom" placeholder="">
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    <button onclick="guardarEstacion()" type="submit" class="btn btn-primary">Agregar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" ><input id="esEditar" type="label" readonly > </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Codigo</label>
                                    <input type="text" class="form-control" id="edCod" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Color</label>
                                    <input type="text" class="form-control" id="edCol" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2">Nombre</label>
                                    <input type="text"  class="form-control" id="edNom" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" onclick="editEstacion()" class="btn btn-primary" data-dismiss="modal">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/> 
        </div>




        <script src="boostrap/js/jquery-3.3.1.min.js">
        </script>

        <script>
            function editEstacion() {
                var editar = $("#esEditar").val();
                var codigo = $('#edCod').val();
                var latitud = $('#edLat').val();
                var nombre = $('#edNom').val();
                var color = $('#edCol').val();
                var url = "http://localhost:8080/edd-edd/m/rutas";
                var json = '{"codigo" : "' + codigo + '", "color":"' + color + '" ,"nombre": "' + nombre + '" , "cv" : "' + editar + '"}';
                var request = $.ajax({
                    url: url,
                    method: "POST",
                    data: json
                });
                request.done(function (msg) {
                    location.reload();
                });
                request.fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });
            }

            function guardarEstacion() {

                var codigo = $('#eCod').val();
                $('#eCod').val("");
                var nombre = $('#eNom').val();
                $('#eNom').val("");
                var color = $('#eCol').val();
                $('#eCol').val("");
                var url = "http://localhost:8080/edd-edd/m/rutas";
                var json = '{"codigo" : "' + codigo + '", "color":"' + color + '" ,"nombre": "' + nombre + '"}';
                var request = $.ajax({
                    url: url,
                    method: "POST",
                    data: json
                });
                request.done(function (msg) {
                    alert("Estacion editara correctamente.");
                    location.reload();
                });
                request.fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });
            }

            var ap = angular.module('myApp', []);
            ap.controller('customersCtrl', function ($scope, $http) {
                $http.get("http://localhost:8080/edd-edd/m/rutas").then(function (response) {
                    $scope.myData = response.data;
                });
                $http.get("http://localhost:8080/edd-edd/m/estaciones").then(function (response) {
                    //alert(window.location.search.substr(1));
                    $scope.estaciones = response.data;
                });
                $scope.myFunc2 = function (a) {
                    $('#rutCod').text(a.codigo);
                    $('#rutNom').text(a.nombre);
                    window.open('http://localhost:8080/edd-edd/editRut.html?' + a.codigo + ',' + a.nombre);
                };
                $scope.myFunc = function (a) {
                    $('#exampleModal').modal('toggle');
                    $("#esEditar").val(a.codigo);
                    $("#edCod").val(a.codigo);
                    $("#edCol").val(a.color);
                    $("#edNom").val(a.nombre);
                };
            });

        </script>

        <script src="boostrap/js/bootstrap.min.js"></script>
        <script src="boostrap/js/popper.min.js"></script>




    </body>
</html>
